
h3{
    font-family: 'Titles';
    color: blueviolet;
    font-size: 22px;
}
h4{
    font-family: 'Titles';
    font-size: 20px;
    
}
.competitor {
    text-align: left;
    min-height: 50vh;
    margin-bottom: 3rem;
}

.content {
    margin-top: 3rem;
}

.pointContainer{
    margin-left: 2rem;
}
.title{
    font-family: 'Titles';
}
.titleContainer{
    display: flex;
    align-items: baseline;
}
.point{
    margin-left: 2rem;
}
