h3,h4{
    font-family: 'Titles';
    color: blueviolet;
}
h3{
    font-size: 22px;
}
h4{
    font-size: 20px;

}
.research {
    position: relative;
}

.research>div{
    position: relative;
}

.competitor{
    text-align: left;
    max-width: 80%;
    position:relative;
    margin:auto;
}

.comp_head{
    max-height: 220px;
    top:0;
    position: sticky;
    text-align: center;
    background-color: black;
    z-index: 2;
    width: 100%;
    margin: auto;
}
.content{
    position: absolute;
    overflow-y: scroll;
    z-index: 1;
}

.titles{
    font-family: 'Titles';
}