/* global layout */
body{
    overflow: hidden;
}
.body{
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: black;
}

footer{
    padding-top: 3px;
    position: fixed;
    background-color: black;
    width: 100%;
    bottom: 0;
}

.viewport {
    height: 100%;
    overflow: scroll;
    transition: 'height 1s ease-in-out'
}

.curArt, .preview {
    height: fit-content;
    text-align: center;
}

.hidden{
    display: none;
}
/* global  color*/
.purple{
    color: blueviolet;
}

/* global nav items */
.link{
    font-family: 'Titles';
    width: 100%;
}

/* mobile */
@media only screen and (max-width: 480px) {
    /* mobile sizing */
    .link.xs{
        font-size: .1rem;
    }
    .link.sm{
        font-size: .2rem;
    }
    .link.m{
        font-size: .5rem;
    }
    .link.l{
        font-size: .9rem;
    }
    .link.xl{
        font-size: 1.2rem;
    }
}
/* desktop */
@media only screen and (min-width: 481px) {
    .link.xs{
        font-size: .7rem;
    }
    .link.sm{
        font-size: .8rem;
    }
    .link.m{
        font-size: .9rem;
    }
    .link.l{
        font-size: 1.5rem;
    }
    .link.xl{
        font-size: 1.8rem;
    }
}