/* general layout */
.body{
    color: white;
    height: 100%;
    width: 100%;
    position: relative;
    background-color: black;
}

footer{
    position: fixed;
    bottom: 0;
}
/* general  color*/
.purple{
    color: blueviolet;
}

/* general nav items */
.link{
    font-family: 'Titles';
    width: 100%;
}
/* viewport layout */
.viewport {
    height: 100%;
    overflow: scroll;
    transition: 'height 1s ease-in-out'
}

.viewport>*{
    height: 100%;
}

/* mobile */
@media only screen and (max-width: 480px) {
    /* mobile sizing */
    .link.xs{
        font-size: .7rem;
    }
    .link.sm{
        font-size: .8rem;
    }
    .link.m{
        font-size: .9rem;
    }
    .link.l{
        font-size: 1.2rem;
    }
    .link.xl{
        font-size: 1.4rem;
    }
}
/* desktop */
@media only screen and (min-width: 481px) {
    .link.xs{
        font-size: .7rem;
    }
    .link.sm{
        font-size: .8rem;
    }
    .link.m{
        font-size: .9rem;
    }
    .link.l{
        font-size: 1.5rem;
    }
    .link.xl{
        font-size: 1.8rem;
    }
}